.char-card {
    border: 2px white !important;
    border-radius: 10px;
}

.card-body {
  padding: 100px;
  color: white;
}

body {
  background-color: black !important;
}

.container {
  color: white;
}