.char-card {
    border: 2px white !important;
    border-radius: 10px;
}

.card-body {
  padding: 100px;
  color: white;
}

body {
  background-color: rgb(40, 37, 37) !important;
}

.container {
  color: white;
}

.footer, .header{
  background-color: black;
}